*{
  margin: 0px;
}

body{
    background-color: #efefef;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight:normal;
    /* SAME AS ABOVE */
    /* font: normal 16px Arial, Helvetica, sans-serif; */
    line-height: 1.6;
    /* margin: 0px; */
}


/* In CSS, the term "box model" is used when talking about design and layout.

The CSS box model is essentially a box that wraps around every HTML element.
 It consists of: margins, borders, padding, and the actual content. */

.container{
    width: 80%;
    margin: 0px auto;
}

.box{
  background-color: rgb(61, 61, 61); 
  color: white;
  border: 3px solid blue;
  /* border-top: 5px solid blue;
  border-right: 15px dashed red;
  border-left: 25px dotted green;
  border-bottom: 35px double yellow; */
  /* padding-top: 70px;
  padding-left: 100px;
  padding-right: 150px;
  padding-bottom: 180px; */
  padding: 50px;
  /* margin-top: 70px;
  margin-left: 100px;
  margin-right: 120px;
  margin-bottom: 150px; */
  /* margin: 50px; */

  /* TOP > RIGHT > BOTTOM > LEFT */
  /* margin: 50px 70px 80px 100px; */

  /* TOP & BOTTOM > LEFT & RIGHT */
  /* margin: 50px 100px; */
}

/* .box h1{
    margin: 0px;
}
.box p{
    margin: 0px;
} */


/* Hey im updated */