.new-event-form label,
.new-event-form input,
.new-event-form button{
  display: block;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  box-sizing: border-box;
  font-size: 22px;
}

.new-event-form label{
    text-align: left;
}

.new-event-form button{
    text-align: center;
}